.splide {
    height: 15rem;
}

@media screen and (min-width: 768px) {
    .splide {
        height: 20rem;
    }
}

.splide__pagination__page {
    background-color: #CCDBF0 !important;
}

.splide__pagination__page.is-active {
    background-color: #004DB3 !important;
}

.splide {
    width: 100vw;
}